*.o
*.lo
*.la
.deps
.libs
autom4te.cache
README
ChangeLog
Makefile
Makefile.in
aclocal.m4
missing
libtool
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libayemu-1.1.0/
ltmain.sh
stamp-h1
test/test
apps/playvtx/playvtx

